
<div class="container">
  <h1>Welcome to Cocktail Lover 2046</h1>
  <div class="row d-flex">
      <% @cocktails.each do |cocktail| %>
        <div class="card m-2" style="width: 15rem; height: 10rem;">
          <img src="https://images.unsplash.com/photo-1551538827-9c037cb4f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <p class="card-text"></p>
            <%= link_to "How to make it", cocktail_path(cocktail), class:"btn btn-outline-dark" %>
            <%= link_to "delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?"}  %>
          </div>
        </div>
      <% end %>
  </div>
</div>

