<h1>Welcome to Cocktail Party</h1>

<% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
<% end %>
