<h1><%= @cocktail.name %></h1>

<h3>Ingredients for this cocktail:</h3>
<ul>
  <% @doses.each do |dose| %>
  <li>
    <%= dose.ingredient.name %> : <%= dose.description %>
  </li>
  <% end %>
</ul>

<%= link_to "back to Cocktail list", cocktails_path, class:"btn btn-primary" %>
