<div class="footer">
  <div class="container">
    <ul>
      <li><a href="https://www.facebook.com/agnes.zong"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://github.com/Agnes-Lain"><i class="fab fa-github"></i></a></li>
      <li><a href="https://twitter.com/AgnesZONG"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/yizhu-zong-0b298b66/"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p>This website was coded with ❤️ at <a href="https://www.lewagon.com/">Le Wagon</a>.</p>
  </div>
</div>
