.footer {
  background-color: $light-blue;
  height: 150px;
  margin-top: 30px;
  text-align: center;
  ul {
    display:inline-block;
    list-style: none;
    display:flex;
    justify-content:center
  }
}

.footer li{
  margin:10px;
  font-size: 30px;

}
